
.right {
    align-self: flex-end;
}

.left {
    align-self: flex-start;
}

span { 
    margin: 10px;
}

.user {
    font-size: 12px;
}

.date {
    color: gray;
    font-size: 12px;
}

.message {
    margin: 20px;
}

.messageField {
    display: flex;
    flex-direction: column;
}
